run = "npm run install:all && npm run dev"
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "npm run install:all && npm run dev"]
deploymentTarget = "cloudrun"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

